

<h1>Convert Case</h1>

<%= form_tag converter_path, method: :get do %>
  <%= label_tag :text, 'Enter the text you want to convert :' %><br>
  <%= text_area_tag :text, params[:text], size: '50x10' %><br>

  <%= label_tag :option, "Select how do you want to convert: " %><br>
  <%= radio_button_tag :option, 'uppercase' %>
  <%= label_tag :option_uppercase, 'UPPER CASE' %><br>
  <%= radio_button_tag :option, 'lowercase' %>
  <%= label_tag :option_downcase, 'lower case' %><br>
  <%= radio_button_tag :option, 'capitalize' %>
  <%= label_tag :option_capitalize, 'Capitalize text' %><br>
  <%= radio_button_tag :option, 'titleize' %>
  <%= label_tag :option_titleize, 'Titleize Text' %><br>
  <%= radio_button_tag :option, 'invert' %>
  <%= label_tag :option_invert, 'iNVERT' %><br>
  <%= submit_tag 'Convert', class:'btn btn-secondary btn-sm' %>
<% end %>

<p>Number of characters: <%= @length_text %></p>
<p>Number of words: <%= @words_text %></p>
<p>Number of lines: <%= @lines_text %></p>
 

<% if params[:option] == 'uppercase' %>
  <% result = @upcase_text %>
<% elsif params[:option] == 'lowercase' %>
  <% result = @downcase_text %>
<% elsif params[:option] == 'capitalize' %>
  <% result = @capitalize_text %>
<% elsif params[:option] == 'titleize' %>
  <% result = @titleize_text %>
<% elsif params[:option] == 'invert' %>
  <% result = @invert_text %>
<% end %>

<p>Text converted: </p> 
<%= result %>
<br>
<%= link_to 'Copy text', '#', id: 'copy-button', class: 'btn btn-secondary btn-sm' %>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const copyButton = document.getElementById('copy-button');
  const resultText = '<%= j(result) %>';

  copyButton.addEventListener('click', (event) => {
    event.preventDefault();

    const input = document.createElement('textarea');
    input.innerHTML = resultText;
    document.body.appendChild(input);
    input.select();
    document.execCommand('copy');
    document.body.removeChild(input);

    alert('Text copied to clipboard');
  });
});
</script>

