

<h1>Convert Case</h1>

<%= form_tag converter_path, method: :get do %>
  <%= label_tag :text, 'Enter the text you want to convert :' %><br>
  <%= text_area_tag :text, params[:text], size: '50x10' %><br>

  <%= label_tag :option, "Select how do you want to convert: " %><br>
  <%= radio_button_tag :option, 'uppercase' %>
  <%= label_tag :option_uppercase, 'Upper case' %><br>
  <%= radio_button_tag :option, 'lowercase' %>
  <%= label_tag :option_downcase, 'Lower case' %><br>
  <%= radio_button_tag :option, 'capitalize' %>
  <%= label_tag :option_capitalize, 'Capitalize' %><br>
  <%= radio_button_tag :option, 'titleize' %>
  <%= label_tag :option_titleize, 'Titleize' %><br>
  <%= submit_tag 'Convert' %>
<% end %>

<p>Number of characters: <%= @length_text %></p>
<p>Number of words: <%= @words_text %></p>


<% if params[:option] == 'uppercase' %>
  <% result = @upcase_text %>
<% elsif params[:option] == 'lowercase' %>
  <% result = @downcase_text %>
<% elsif params[:option] == 'capitalize' %>
  <% result = @capitalize_text %>
<% elsif params[:option] == 'titleize' %>
  <%result = @titleize_text %>
<% end %>

<p>Text converted: <%= result %></p>
