

<h1>Convert Case</h1>

<%= form_tag converter_path, method: :get do %>
  <%= label_tag :text, 'Enter the text you want to convert :' %><br>
  <%= text_field_tag :text %><br>
  <%= submit_tag 'Convert' %>
<% end %>

<% if @upcase_text.present? %>
  <p>Text converted: <%= @upcase_text %></p>
<% end %>